# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.idb
*.tlog
*.log
*.suo
*.lastbuildstate

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vcxproj
*.filters
*.sln
*.sdf
*.opensdf
*.bak
unsuccessfulbuild

